<!DOCTYPE html>
<html>
<head>
    <title>Create Event</title>
</head>
<body>
    <h2>HawkSoar Registration</h2>
    <form method="POST">
      {% csrf_token %}
      <label for="cwid">CWID: </label>
      <input id="cwid" type="text" name="cwid" required><br><br>
      <label for="major">Major: </label>
      <select name="major" id="major">
        <option value="" selected disabled>What's Your Major?</option>
        <option value="Computer science">Computer science</option>
        <option value="Mechanical engineering">Mechanical engineering</option>
        <option value="Architectural and building sciences/technology">Architectural and building sciences/technology</option>
        <option value="Information technology">Information technology</option>
        <option value="Bioengineering and biomedical engineering">Bioengineering and biomedical engineering</option>
        <option value="Chemical engineering">Chemical engineering</option>
        <option value="Aerospace, aeronautical and astronautical/space engineering">Aerospace, aeronautical and astronautical/space engineering</option>
        <option value="Electrical and electronics engineering">Electrical and electronics engineering</option>
        <option value="Civil engineering">Civil engineering</option>
        <option value="Computer engineering">Computer engineering</option>
        <option value="Business administration and management">Business administration and management</option>
        <option value="Engineering/industrial management">Engineering/industrial management</option>
        <option value="Architectural engineering">Architectural engineering</option>
        <option value="Biology/biological sciences">Biology/biological sciences</option>
        <option value="Applied mathematics">Applied mathematics</option>
        <option value="Chemistry">Chemistry</option>
        <option value="Materials engineering">Materials engineering</option>
        <option value="Computer and information sciences">Computer and information sciences</option>
        <option value="Physics">Physics</option>
        <option value="Research and experimental psychology">Research and experimental psychology</option>
        <option value="Computer engineering">Computer engineering</option>
        <option value="Astrophysics">Astrophysics</option>
        <option value="Engineering physics/applied physics">Engineering physics/applied physics</option>
        <option value="Biochemistry">Biochemistry</option>
        <option value="Liberal arts and sciences, general studies and humanities">Liberal arts and sciences, general studies and humanities</option>
        <option value="Psychology">Psychology</option>
        <option value="Communication, journalism, and related programs">Communication, journalism, and related programs</option>
        <option value="Artificial intelligence">Artificial intelligence</option>
        <option value="Computer and information systems security/information assurance">Computer and information systems security/information assurance</option>
        <option value="Liberal arts and sciences/liberal studies">Liberal arts and sciences/liberal studies</option>
        <option value="International/global studies">International/global studies</option>
        <option value="Environmental chemistry">Environmental chemistry</option>
        <option value="Development economics and international development">Development economics and international development</option>
      </select>
      <br>
      {{ form.as_p }}
      <button type="submit">Sign Up</button>
    </form>
</body>
</html>