<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">HawkSoar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'mentor' user_id %}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'meeting_scheduler' user_id %}">Meeting Scheduler</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'collaboration_portal' user_id %}">Collaboration Portal</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'event_create' user_id %}">Create Event</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout_view' %}">Logout</a>
        </li>
      </ul>
    </div>
  </nav>